<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= "/" + @encoded_id %>
</p>
<p>
  <strong>Redirects to:</strong>
  <%= @entry.url %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
