<!DOCTYPE html>
<html>
  <head>
    <title>Shorty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>
      Drag the following link to your toolbar to create an on-the-fly shortener!
    </p>
    <%= link_to "Shorten This", "javascript:void(location.href='#{new_entry_url}?url='+encodeURIComponent(location.href))" %>
  </body>
</html>
